<div class="container">
<h3>Complete Your Order Below</h3>
<div class="row">
  <div class="col-xs-3">Description of the item</div>
  <div class="col-xs-3">Price of the item</div>
  <div class="col-xs-3">Qty of item</div>
  <div class="col-xs-3">
		<div class="dropdown">
		  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		    Qty
		    <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
		    <li><a href="">1</a></li>
		    <li><a href="">2</a></li>
		    <li><a href="">3</a></li>
		    <li><a href="">4</a></li>
		  </ul>
		</div>
  </div>
</div>
<div class="row">
todo ...
</div>
</div>